body{
background-color:black;
}
h1{
font-family: 'Poppins', sans-serif;
text-align:center;
text-decoration: underline;
  text-decoration-color: red;
  color:white
}

p{
font-family: 'Poppins', sans-serif;
font-size:20px;
text-align:center;
 color:white
}

a{
font-family: 'Poppins', sans-serif;
font-size:20px;
text-align:center;
text-decoration: underline;
  text-decoration-color: blue;
   color:white;
   position:relative;
left:45%;
}
img{
position:relative;
left:35%;
}

.kid{
height:400px;
width:400px;
}