
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">


<body>
<h1>hello flask bhai</h1>
<img src="{{url_for('static', filename='meme.jpg')}}"  />
<h1></h1>
<a href="/about">About page</a>

<p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed dolor et enim mollis ullamcorper. Aliquam pulvinar sapien at pellentesque laoreet. Nam ac urna sagittis, tristique eros at, pellentesque risus. Ut dapibus eros lorem, sed luctus urna tincidunt eu. Praesent eget venenatis ipsum. Nam cursus enim eget nulla dictum finibus. Pellentesque tempor viverra molestie. <br> <br>
Donec bibendum non lorem in tristique. Sed maximus laoreet felis quis pellentesque. Suspendisse porta tincidunt ipsum quis maximus. Integer auctor pulvinar fermentum. Curabitur viverra non urna consectetur fringilla. Etiam tincidunt, libero sed eleifend dapibus, ante mi pellentesque ex, at pulvinar ipsum est quis justo. Nam et metus quis libero maximus venenatis eu vel elit. <br> <br>

Nam nec turpis suscipit, lobortis velit ut, tempor sem. Ut metus arcu, consequat vitae scelerisque nec, pretium laoreet mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel tempor magna, lobortis egestas elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam at mauris vitae diam semper semper eget at tortor. Sed id sem velit. Donec at sapien sem. In lacinia, urna ac auctor ullamcorper, purus enim sagittis lorem, sit amet gravida lectus ante vel massa. Nullam ut sapien at purus ultrices tempor. Integer pretium sed eros quis tincidunt. Donec dictum dictum ipsum et posuere.
</p>
</body>
</html>